TURSO_DATABASE_URL="libsql://velvet-touch-db-alkakokane927-del.aws-ap-south-1.turso.io"
TURSO_AUTH_TOKEN="your_turso_auth_token_here"

FIREBASE_PROJECT_ID="velvet-touch-d2e00"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@velvet-touch-d2e00.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"


CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
